.container {
    max-width: 100%; /* Full width on small screens */
    /* background-color: rgba(210, 218, 175, 0.8); */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-info {
    background-color: rgba(62, 44, 44, 0.315);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.car-info:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(232, 230, 230, 0.4);
}

.car-info img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s, box-shadow 0.3s;
}

.car-info:hover img {
    transform: scale(1.3);
    box-shadow: 0 8px 16px rgba(218, 216, 216, 0.4);
}

